<configuration>

    <contextName>mojaAplikacia</contextName>

    <property resource="logbacknastavenia.properties" />
    <variable scope="context" name="contextPremenna" value="toto je premenna z kontextu" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${${userid}.password:-${default}}    ${contextPremenna:-defaultna hodnota} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<variable name="USER_HOME" value="C:\\Users\\benoj\\logovanie" />-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${destination}</file>

        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_TIME_ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logFile.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>
            <!-- 10 dní histórie ale max 2GB dát -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>

            <!--1.  log.%d   log.2019-01-15 ; log.2019-01-16-->
            <!--2.	/logy/%d{yyyy/MM}/log.txt  -  /logy/2019/01/log.txt  /logy/2019/02/log.txt-->
            <!--3. log%d{yyyy-MM-dd_HH-mm}.log-->

        </rollingPolicy>

        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_SIZETIME_ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logFile.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log%d{yyyy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <!-- 10 dní histórie ale max 2GB dát -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>


        </rollingPolicy>

        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_Window_ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logFile.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log%i.log</fileNamePattern>
            <minIndex>2</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>



    <logger name="sk.jaroslavbeno.model" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--<logger name="sk.jaroslavbeno" level="INFO" additivity="false">-->
        <!--<appender-ref ref="A3"/>-->
    <!--</logger>-->

    <!--<logger name="sk" level="INFO" >-->
        <!--<appender-ref ref="A2"/>-->
        <!--<appender-ref ref="A1"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate" level="TRACE" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_TIME_ROLL"/>
    </root>

    <!--TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF alebo INHERITED-->

</configuration>
